scrape_configs:
  - job_name: 'speedtest'
    scrape_interval: 10m
    scrape_timeout: 1m
    static_configs:
      - targets:
        - mac-mini.lan:9798
  - job_name: 'dns'
    metrics_path: /probe
    params:
      module: [dns]
    file_sd_configs:
      - files:
        - 'dns_targets.json'
        refresh_interval: 5m
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115
  - job_name: 'doh'
    metrics_path: /probe
    params:
      module: [doh_ipv4]
    file_sd_configs:
      - files:
        - 'dnscrypt_targets.json'
        refresh_interval: 5m
    relabel_configs:
      - target_label: __param_target
        source_labels: [__address__]
      - target_label: instance
        source_labels: [__param_target]
      - target_label: __address__
        replacement: blackbox_exporter:9115
      - target_label: __param_target
        source_labels: [__param_target, path]
        separator: ""
        regex: (.+)
        replacement: https://${1}${2}?dns=AAABAAABAAAAAAAABmdvb2dsZQNjb20AAAEAAQ
      - target_label: __param_module
        source_labels: [provider]
        regex: .*-ipv6$
        replacement: doh_ipv6
  - job_name: 'http'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - https://duckduckgo.com
        - https://meet.google.com
        - https://github.com
        - https://www.fastmail.com
        - https://zoom.us
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115
  - job_name: 'unifi'
    static_configs:
    - targets: ['unifi.lan:9130']
  - job_name: 'solar-inverter'
    static_configs:
    - targets: ['solar_exporter:18000']
  - job_name: 'dmarc-metrics-exporter'
    static_configs:
      - targets: ['dmarc_metrics_exporter:9797']
