modules:
  dns:
    prober: dns
    dns:
      query_name: "google.com"
      query_type: "A"
  doh:
    prober: http
    http:
      headers:
        Accept: application/dns-message
        User-Agent: blackbox-doh-probe
      fail_if_header_not_matches:
        - header: Content-Type
          regexp: "^application/dns-message"
      fail_if_body_matches_regexp:
        - "<html"
        - "<!DOCTYPE"
        - "Access Denied"
  http_2xx:
    prober: http
    http:
