modules:
  dns:
    prober: dns
    dns:
      query_name: "google.com"
      query_type: "A"
  doh_ipv4:
    prober: http
    http: &doh_http_common
      headers:
        Accept: application/dns-message
        User-Agent: blackbox-doh-probe
      fail_if_header_not_matches:
        - header: Content-Type
          regexp: "^application/dns-message"
      fail_if_body_matches_regexp:
        - "<html"
        - "<!DOCTYPE"
        - "Access Denied"
      preferred_ip_protocol: ip4
      ip_protocol_fallback: false
  doh_ipv6:
    prober: http
    http:
      <<: *doh_http_common
      preferred_ip_protocol: ip6
  http_2xx:
    prober: http
    http:
